.footer {
  background-color: #2f303a;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 57px;
}
.footer .conteiner {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
