.qualities {
  padding-bottom: 47px;
  padding-top: 94px;
  margin: 0 auto;
}
.qualities-list {
  display: flex;
}
.qualities-box {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.qualities-list__items {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
